body {
    background: #234;
    color: white;
    font-family:sans-serif;

}

.title-big{
    background: lightcoral;
    padding: 50px 20px;
    width: auto;
    border-radius: 100px;
    text-align: center;
    font-size: 75px;
    margin:0;
    margin-bottom: 20px;
}

.round-bubble {
    text-align: center;
    background: teal;
    padding: 25px;
    border-radius: 15px;
    margin-top: 0px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.round-bubble:hover {
    color: #333;
    background: rgb(178, 233, 255);
    -webkit-animation:rainbow 1s infinite;
    -ms-animation:rainbow 1s infinite;
    -o-animation:rainbow 1s infinite;
    animation:rainbow 1s infinite;
    }
    @-webkit-keyframes rainbow {
    0% {background: #ff0000;}
    10% {background: #ff8000;}
    20% {background: #ffff00;}
    30% {background: #80ff00;}
    40% {background: #00ff00;}
    50% {background: #00ff80;}
    60% {background: #00ffff;}
    70% {background: #0080ff;}
    80% {background: #0000ff;}
    90% {background: #8000ff;}
    100% {background: #ff0080;}
    }
    @-ms-keyframes rainbow {
    0% {background: #ff0000;}
    10% {background: #ff8000;}
    20% {background: #ffff00;}
    30% {background: #80ff00;}
    40% {background: #00ff00;}
    50% {background: #00ff80;}
    60% {background: #00ffff;}
    70% {background: #0080ff;}
    80% {background: #0000ff;}
    90% {background: #8000ff;}
    100% {background: #ff0080;}
    }
    @-o-keyframes rainbow {
    0% {background: #ff0000;}
    10% {background: #ff8000;}
    20% {background: #ffff00;}
    30% {background: #80ff00;}
    40% {background: #00ff00;}
    50% {background: #00ff80;}
    60% {background: #00ffff;}
    70% {background: #0080ff;}
    80% {background: #0000ff;}
    90% {background: #8000ff;}
    100% {background: #ff0080;}
    }
    @keyframes rainbow {
    0% {background: #ff0000;}
    10% {background: #ff8000;}
    20% {background: #ffff00;}
    30% {background: #80ff00;}
    40% {background: #00ff00;}
    50% {background: #00ff80;}
    60% {background: #00ffff;}
    70% {background: #0080ff;}
    80% {background: #0000ff;}
    90% {background: #8000ff;}
    100% {background: #ff0080;}
   
}


section {
    background: darkslateblue;
    padding: 30px 40px ;
    /* margin: 10px ; */
    border-radius: 25px;
    width: 300px;
    max-width: 300px;
}

.container {
    width: auto;
    margin: 50px;
    padding: 25px;
    background: rgb(65, 103, 114);
    border-radius: 50px;

}

.container-inside {
    width: auto;
    padding: 25px 50px;
    background: rgb(0, 117, 72);
    border-radius: 50px;

}

.bg-dark {
    color: #fff;
    background:#333;
}

.bg-light {
    color: #333;
    background:#fff;
}



.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}
